<!--Footer-->
<footer id="footer">
	<div class="container">
		<div class="row-fluid">
			<div class="span5 cp">
				&copy; 2016 <a target="_blank" href="http://shapebootstrap.net/" title="Free Twitter Bootstrap WordPress Themes and HTML templates">Vivacity Team</a>. All Rights Reserved.
			</div>
			<!--/Copyright-->

			<div class="span6">
				<ul class="social pull-right">
					<div class="fb-like" data-href="https://www.facebook.com/moviereport.in/" data-width="150" data-layout="standard" data-action="like" data-show-faces="false" data-share="true"></div>                  
				</ul>
			</div>

			<!-- <div class="span1">
				<a id="gototop" class="gototop pull-right" href="#"><i class="icon-angle-up"></i></a>
			</div> -->
			<!--/Goto Top-->
		</div>
	</div>
</footer>
<!--/Footer-->